extends layout

block content

  .container
    h1.text-center  Home Page
    ul.list-group-flush
      h4 Request Links
      li.list-group-item.login  POST request LOGIN
      li.list-group-item.limit  GET request LIMIT
      li.list-group-item.create  POST request CREATE USER
      li.list-group-item.user  GET request CURRENT USER
    hr