extends layout

block content
  h1.text-center  Login User
  hr
  form(id="loginForm")
    input(type="email" name="email")
    input(type="password" name="password")
    input(type="submit", value="Login")

  script(src="http://localhost:3000/static/js/login.js")